# Aspect sentiment analysis (Topic Modeling)
### Introduction

Another popular text analysis technique is called topic modeling. The ultimate goal of topic modeling is to find various topic modeling is to find various topics that are present in your corpus. Each document in the corpus will be made up of at least one topic, if not multiple topics.

### Goal is Social Listening
* Basically it is finding Topic on which Amazon India customer are talking about on Social Media.
* social media is a platform where people are vocal regarding there Fact and Opinion.
* Whether it is positive or negative, they express there view.
* Its alway hard to express the view in person, so there is always the bais involed to certain degree.
* But on Internet there is no real consequence. so it makes easy for customer.
* There is even more psychology reason behind.

## Amazon India

In [1]:
import pandas as pd
import numpy as np
import string
import re
import nltk

In [2]:
# read the data in
df = pd.read_csv(r"C:\Users\ASUS\abhi\Twitter sentiment analysis\amazon.csv")

In [3]:
# Apply a first round of text cleaning techniques
import re
import string

def clean_text_round1(text):
    '''Make text lowercase, remove text in square brackets, remove punctuation and remove words containing numbers.'''
    text = text.lower()
    text = re.sub('\[.*?\]', '', text)
    text = re.sub('[%s]' % re.escape(string.punctuation), '', text)
    text = re.sub('\w*\d\w*', '', text)
    return text

round1 = lambda x: clean_text_round1(x)

In [4]:
# Let's take a look at the updated text
data_clean = pd.DataFrame(df.text.apply(round1))
data_clean

                                                   text
0     indiaprogress kinda wrong world runs on amazon...
1     jeffbezos  im from india sir your  taken my mo...
2     before making your goals for the year   read m...
3     ola to set up worlds largest escooter factory ...
4     amazonin \nis allowed to sell made in chinese ...
...                                                 ...
3095  amazon echo  gen echo dot  gen echo dot  gen w...
3096                        deal price ₹ \ndiscount ₹
3097                        deal price ₹ \ndiscount ₹
3098  amazon prime video’s ‘watch party’ now in indi...
3099  hi primevideoin bosch sixth season was release...

[3100 rows x 1 columns]

In [5]:
# Apply a second round of cleaning
def clean_text_round2(text):
    '''Get rid of some additional punctuation and non-sensical text that was missed the first time around.'''
    text = re.sub('[‘’“”…]', '', text)
    text = re.sub('[₹]', '', text)
    text = re.sub('\n', '', text)
    return text

round2 = lambda x: clean_text_round2(x)

In [6]:
# Let's take a look at the updated text
data_clean = pd.DataFrame(data_clean.text.apply(round2))
data_clean

                                                   text
0     indiaprogress kinda wrong world runs on amazon...
1     jeffbezos  im from india sir your  taken my mo...
2     before making your goals for the year   read m...
3     ola to set up worlds largest escooter factory ...
4     amazonin is allowed to sell made in chinese mo...
...                                                 ...
3095  amazon echo  gen echo dot  gen echo dot  gen w...
3096                            deal price  discount
3097                            deal price  discount
3098  amazon prime videos watch party now in india h...
3099  hi primevideoin bosch sixth season was release...

[3100 rows x 1 columns]

In [7]:
nltk.download()

showing info https://raw.githubusercontent.com/nltk/nltk_data/gh-pages/index.xml

True

In [8]:
# Import the necessary modules for LDA with gensim
# Terminal / Anaconda Navigator: conda install -c conda-forge gensim
from gensim import matutils, models
import scipy.sparse

In [9]:
# Let's create a function to pull out nouns from a string of text
from nltk import word_tokenize, pos_tag

def nouns(text):
    '''Given a string of text, tokenize the text and pull out only the nouns.'''
    is_noun = lambda pos: pos[:2] == 'NN'
    tokenized = word_tokenize(text)
    all_nouns = [word for (word, pos) in pos_tag(tokenized) if is_noun(pos)] 
    return ' '.join(all_nouns)

In [10]:
# Apply the nouns function to the text to filter only on nouns
data_nouns = pd.DataFrame(data_clean.text.apply(nouns))
data_nouns

                                                   text
0     indiaprogress kinda world amazon web services ...
1                  jeffbezos im sir money i mobil phone
2      goals year book aroma success httpstcoijhzlhwchs
3        ola worlds escooter factory sood partners fint
4                        amazonin mobile india hmoindia
...                                                 ...
3095   amazon gen dot gen dot gen clock price starts rs
3096                                deal price discount
3097                                deal price discount
3098                        videos party india informer
3099           hi primevideoin bosch season april delay

[3100 rows x 1 columns]

In [11]:
# Create a new document-term matrix using only nouns
from sklearn.feature_extraction import text
from sklearn.feature_extraction.text import CountVectorizer

In [12]:
# Re-add the additional stop words since we are recreating the document-term matrix
add_stop_words = ['like', 'im', 'know', 'just', 'dont', 'thats', 'right', 'people','india','amazon','amazonin','google','indias',
                  'youre', 'got', 'gonna', 'time', 'think', 'yeah', 'said','trailer','jeffbezos','indi','indian','hi','et','rs',
                 'facebook','tamil','amitagarwal','amitshah','narendramodi','movie','hello','primevideoin','film','video',
                  'prime','videos','watch','music','south','flipkart','book','brand','indie','usa']
stop_words = text.ENGLISH_STOP_WORDS.union(add_stop_words)

In [13]:
# Recreate a document-term matrix with only nouns
cvn = CountVectorizer(stop_words=stop_words)
data_cvn = cvn.fit_transform(data_nouns.text)
data_dtmn = pd.DataFrame(data_cvn.toarray(), columns=cvn.get_feature_names())
data_dtmn.index = data_nouns.index
data_dtmn

,aajtak,aamazon,aapl,abhinandanks,ability,abilitythis,abo,abs,abusers,abuses,...,𝒔𝒕𝒓𝒂𝒊𝒏𝒆𝒓,𝒕𝒉𝒂𝒕,𝒕𝒉𝒊𝒔,𝒕𝒐,𝒖𝒔httpstcomucverpscfchefdirect,𝒗𝒆𝒈𝒆𝒕𝒂𝒃𝒍𝒆𝒔httpstcomucverpscf,𝒘𝒂𝒔𝒉,𝒘𝒉𝒆𝒏,𝒘𝒐𝒏𝒕,𝒚𝒐𝒖
0,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
1,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
2,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
3,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
4,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
3095,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
3096,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
3097,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
3098,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
3099,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0

In [14]:
# Create the gensim corpus
corpusn = matutils.Sparse2Corpus(scipy.sparse.csr_matrix(data_dtmn.transpose()))

#corpora.dictionary.Dictionary
# Create the vocabulary dictionary
id2wordn = dict((v, k) for k, v in cvn.vocabulary_.items())

In [15]:
id2wordn

{2352: 'indiaprogress',
 2593: 'kinda',
 4802: 'world',
 4739: 'web',
 3970: 'services',
 331: 'azure',
 3212: 'outage',
 324: 'aws',
 4052: 'sir',
 2995: 'money',
 2973: 'mobil',
 3351: 'phone',
 1607: 'goals',
 4834: 'year',
 259: 'aroma',
 4262: 'success',
 1944: 'httpstcoijhzlhwchs',
 3175: 'ola',
 4803: 'worlds',
 1319: 'escooter',
 1382: 'factory',
 4112: 'sood',
 3268: 'partners',
 1452: 'fint',
 2974: 'mobile',
 1783: 'hmoindia',
 4424: 'thewolfpackin',
 2820: 'manufacturing',
 3390: 'plants',
 1038: 'deal',
 3481: 'price',
 1130: 'discount',
 1265: 'element',
 1633: 'gps',
 4089: 'smartwatch',
 2998: 'monitors',
 284: 'aspects',
 317: 'av',
 1968: 'httpstcojnopfpwfqk',
 1621: 'googledown',
 4856: 'youtubers',
 3750: 'retweet',
 200: 'animation',
 2923: 'microsoft',
 532: 'brazil',
 618: 'canada',
 3639: 'reading',
 2253: 'hwsnbn',
 3961: 'series',
 4147: 'spinoff',
 218: 'ap',
 2246: 'huntsman',
 2944: 'mini',
 2239: 'hubs',
 999: 'customs',
 1762: 'hibs',
 3904: 'scimitarss',
 120: 'amazonhelp',
 1450: 'finminindia',
 272: 'ascionline',
 4570: 'uidai',
 971: 'cricket',
 3775: 'rights',
 3562: 'push',
 1523: 'ft',
 1151: 'divine',
 1796: 'honey',
 1376: 'face',
 4719: 'wash',
 3431: 'polyester',
 1369: 'eyelet',
 3368: 'piece',
 1170: 'door',
 1428: 'feet',
 2058: 'httpstcoovikqoijkt',
 3515: 'product',
 3614: 'ranges',
 3922: 'search',
 4030: 'shows',
 301: 'attiaaleem',
 1791: 'homeautomation',
 2827: 'market',
 4009: 'shift',
 2252: 'hvac',
 4365: 'tech',
 2406: 'intention',
 1084: 'democracy',
 1032: 'day',
 3196: 'opportunity',
 4026: 'shots',
 4701: 'walmar',
 1907: 'httpstcogmgcbvzgtl',
 2273: 'idea',
 1033: 'days',
 2575: 'key',
 3740: 'retailer',
 4703: 'walmartamazon',
 4702: 'walmart',
 565: 'bu',
 4294: 'supreme',
 378: 'bazaar',
 4174: 'stainless',
 4201: 'steel',
 1787: 'holder',
 4044: 'silver',
 3975: 'set',
 1726: 'head',
 3856: 'sales',
 4471: 'today',
 2299: 'impor',
 3186: 'opp',
 1871: 'httpstcodufuozbzay',
 3899: 'schedule',
 1924: 'httpstcohaqjnnlmia',
 3191: 'opport',
 2067: 'httpstcopqtiujqbtf',
 1468: 'floor',
 1310: 'equa',
 2750: 'lot',
 4427: 'things',
 1309: 'eq',
 679: 'chance',
 3190: 'oppor',
 3192: 'opportu',
 419: 'bi',
 2588: 'kids',
 2062: 'httpstcopcemikxmrq',
 4167: 'srivatsayb',
 33: 'adanis',
 165: 'ambanis',
 4355: 'tatasgodrej',
 433: 'birlas',
 1660: 'growth',
 2339: 'indiaindex',
 4788: 'wont',
 1472: 'fluctuations',
 2946: 'miniups',
 2633: 'kyoki',
 3279: 'pata',
 1687: 'hai',
 1784: 'ho',
 2443: 'iske',
 2722: 'liye',
 1954: 'httpstcoixmatkbtfk',
 1044: 'dec',
 231: 'apple',
 879: 'consumers',
 3448: 'power',
 4472: 'todays',
 3990: 'sharath',
 2878: 'media',
 4361: 'team',
 2364: 'indiawe',
 182: 'amznamazon',
 3523: 'programming',
 935: 'country',
 1542: 'game',
 3435: 'popularity',
 4854: 'youtubedown',
 4094: 'snapchatdowndont',
 1039: 'deals',
 3162: 'offers',
 2262: 'iampreethi',
 225: 'app',
 1241: 'economy',
 4867: 'zomato',
 3295: 'paytm',
 2754: 'love',
 252: 'arie',
 4536: 'trombone',
 4024: 'shorty',
 783: 'cocacola',
 1188: 'drink',
 2346: 'indianother',
 526: 'brands',
 1834: 'httpstcoayhlelffzq',
 1698: 'hands',
 4730: 'way',
 19: 'acedefencehandsanitisers',
 800: 'collection',
 3613: 'range',
 1583: 'gifts',
 2012: 'httpstcomdgcyslolo',
 3453: 'prabhjeets',
 997: 'customer',
 4291: 'support',
 4563: 'uber',
 853: 'concern',
 2853: 'masters',
 876: 'constomer',
 3966: 'servi',
 625: 'capital',
 1629: 'govt',
 864: 'congratulations',
 162: 'amazonxiaomiindia',
 3863: 'samsungindia',
 3630: 'rbi',
 4697: 'walk',
 16: 'account',
 2200: 'httpstcoxowgllgqka',
 432: 'birdwatching',
 4061: 'sites',
 718: 'children',
 1934: 'httpstcohrqxvyhwap',
 2065: 'httpstcopjjpfddrwj',
 4376: 'tejaschogale',
 2988: 'moisturizer',
 4071: 'skin',
 2709: 'link',
 3028: 'mpjagannath',
 664: 'centre',
 4732: 'wb',
 1912: 'httpstcogoznwofdat',
 2600: 'kings',
 4718: 'wars',
 2599: 'kingdoms',
 1160: 'doctrine',
 990: 'cult',
 2480: 'jaksons',
 373: 'bath',
 1463: 'fixtures',
 3755: 'review',
 3568: 'quality',
 4497: 'toy',
 3948: 'seller',
 112: 'amazonbasics',
 1136: 'discussonlineshopping',
 1744: 'hell',
 3223: 'owner',
 493: 'bookshop',
 3586: 'racket',
 989: 'cu',
 418: 'bholanathbsf',
 1103: 'dgssb',
 4401: 'thank',
 4467: 'title',
 3238: 'pages',
 1324: 'essence',
 992: 'culture',
 3944: 'selection',
 4125: 'space',
 830: 'companies',
 3352: 'phonepe',
 3290: 'pay',
 1197: 'drrpnishank',
 3416: 'pmoindia',
 4514: 'transformindia',
 3062: 'mygovindia',
 1962: 'httpstcojeiluvfzro',
 1251: 'eduminofindia',
 871: 'consaff',
 656: 'cciindia',
 4508: 'trai',
 73: 'aiimsnewdelhi',
 2985: 'mohfwindia',
 2858: 'matter',
 3417: 'po',
 1932: 'httpstcohngkatlbbp',
 2472: 'jagograhakjago',
 281: 'askanshul',
 199: 'anilsinghvi',
 27: 'activity',
 4451: 'ticket',
 4864: 'zeenews',
 3331: 'person',
 560: 'btindia',
 2411: 'internet',
 3093: 'need',
 1808: 'hourminiups',
 4771: 'wifi',
 1263: 'electricity',
 1650: 'gridrenewableenergy',
 345: 'bag',
 947: 'cover',
 145: 'amazonprimevideo',
 3517: 'products',
 382: 'bean',
 346: 'bags',
 2746: 'loot',
 3482: 'pricelink',
 949: 'covershttpstcomtcqhpkyfp',
 3361: 'pibindia',
 3359: 'pibhindi',
 4379: 'tell',
 4485: 'tooo',
 1622: 'googleindia',
 2783: 'madebygoogle',
 910: 'copy',
 883: 'contact',
 2476: 'jaipurdialogues',
 3965: 'serve',
 4711: 'ware',
 760: 'click',
 3888: 'saurabh',
 4166: 'srivastava',
 118: 'amazonfashion',
 4053: 'sirdeshmukh',
 832: 'company',
 1581: 'gift',
 732: 'christmas',
 3022: 'mouse',
 3237: 'pagehttpstcobopekcyxsf',
 4378: 'telecom',
 843: 'competitors',
 523: 'bparkyn',
 4157: 'spot',
 1499: 'foundationpk',
 1198: 'drsjaishankar',
 3315: 'penguinindia',
 1414: 'fccnewdelhi',
 4399: 'th',
 2102: 'httpstcorwiguvyxsu',
 3375: 'pixel',
 543: 'bro',
 2282: 'idhu',
 2900: 'memeho',
 4324: 'table',
 3919: 'sea',
 4224: 'stores',
 3661: 'redux',
 184: 'analogue',
 2904: 'mens',
 520: 'boys',
 3160: 'offer',
 590: 'buy',
 4250: 'style',
 3968: 'service',
 2864: 'maybelline',
 1498: 'foundation',
 367: 'basics',
 4550: 'tvs',
 89: 'alexa',
 291: 'assistant',
 1142: 'display',
 4066: 'sizes',
 4113: 'soon',
 4519: 'transportation',
 185: 'analyst',
 663: 'center',
 2254: 'hyd',
 2729: 'location',
 2255: 'hyderabad',
 2748: 'loss',
 981: 'crore',
 3709: 'reports',
 4473: 'tofler',
 1877: 'httpstcoehtydawtzi',
 530: 'braun',
 3580: 'quiz',
 2698: 'life',
 3877: 'sarahck',
 3452: 'pr',
 955: 'cpcbofficial',
 3714: 'request',
 4058: 'site',
 2890: 'mehulbhandari',
 1651: 'grievance',
 205: 'announces',
 3660: 'redshift',
 2961: 'ml',
 1024: 'data',
 3903: 'scientists',
 4369: 'technologies',
 186: 'analytics',
 890: 'context',
 2513: 'jio',
 3687: 'reliance',
 979: 'crook',
 4171: 'staff',
 3731: 'responsibilities',
 1404: 'farming',
 3427: 'policy',
 1401: 'farmers',
 1803: 'hostility',
 3934: 'sectors',
 3728: 'respirometer',
 351: 'ball',
 2770: 'lung',
 3727: 'respiratory',
 1350: 'exerciser',
 4150: 'spirometer',
 2334: 'indiahttpstcokxzfudlqok',
 168: 'ambitech',
 4199: 'steam',
 4615: 'vaporizer',
 2386: 'inhaler',
 929: 'cough',
 3045: 'multi',
 937: 'county',
 3666: 'reflection',
 3353: 'phones',
 2975: 'mobiles',
 3484: 'prices',
 661: 'cell',
 1994: 'httpstcolbbxgujnlkmobile',
 2132: 'httpstcotrlsuomhglmobile',
 2214: 'httpstcoyhucxvvacs',
 1923: 'httpstcogzydhonrkamobile',
 1237: 'ecommerce',
 3293: 'payments',
 4583: 'unit',
 2749: 'losses',
 1779: 'history',
 1243: 'edition',
 4133: 'spectrum',
 489: 'books',
 4243: 'student',
 296: 'atlas',
 178: 'amp',
 4233: 'strategy',
 1204: 'dtc',
 3399: 'players',
 1549: 'gandhi',
 4568: 'ucusolidarity',
 4567: 'ucu',
 2311: 'increase',
 1249: 'educa',
 2007: 'httpstcolxybkmlnlo',
 2805: 'man',
 3173: 'oil',
 96: 'almond',
 4449: 'thyme',
 383: 'beard',
 3473: 'premium',
 768: 'cloth',
 2844: 'mask',
 3534: 'protection',
 4582: 'unisex',
 782: 'coca',
 796: 'cola',
 2075: 'httpstcoqlcaczztsv',
 389: 'beethelight',
 498: 'boom',
 1759: 'hes',
 2426: 'investments',
 1079: 'deliveries',
 1763: 'hide',
 4699: 'wallet',
 3389: 'plantindia',
 1792: 'homedeco',
 4595: 'ups',
 3808: 'router',
 4289: 'supply',
 1806: 'hou',
 2123: 'httpstcosyosetzuii',
 4843: 'yoga',
 1731: 'health',
 4149: 'spirituality',
 4750: 'wellness',
 2918: 'mi',
 356: 'band',
 1460: 'fitness',
 803: 'color',
 3911: 'screen',
 4728: 'waterproof',
 2881: 'medium',
 4487: 'toothbrushes',
 1831: 'httpstcoaxnnlhhqcy',
 4604: 'uses',
 467: 'bnb',
 3023: 'mouth',
 1514: 'freshenershop',
 264: 'article',
 4613: 'vande',
 4197: 'stayathome',
 775: 'cmofficeup',
 1480: 'food',
 3939: 'security',
 624: 'capacity',
 3002: 'month',
 3148: 'number',
 3149: 'numpad',
 1538: 'gadgetwater',
 3724: 'resistantpo',
 4370: 'technology',
 3102: 'news',
 1458: 'firstpost',
 2211: 'httpstcoycqzquivba',
 635: 'care',
 632: 'caravan',
 1790: 'home',
 3201: 'order',
 2005: 'httpstcolsnbvytluw',
 2514: 'jiomart',
 408: 'beta',
 4742: 'webs',
 2653: 'laptop',
 4761: 'wheres',
 3380: 'place',
 4373: 'techtwitter',
 4372: 'techsupport',
 4499: 'toyshine',
 4312: 'sweet',
 4386: 'tent',
 1810: 'house',
 3395: 'play',
 3401: 'playhouse',
 897: 'controls',
 2808: 'manages',
 3756: 'reviews',
 1628: 'government',
 4042: 'silent',
 1745: 'hellocompanies',
 2829: 'marketing',
 2046: 'httpstcoociowqfbyg',
 1407: 'fashion',
 2038: 'httpstconiuxblcmby',
 3628: 'razorpay',
 1681: 'guystoday',
 581: 'burse',
 242: 'appthey',
 3292: 'payment',
 3969: 'servicerazor',
 1760: 'hey',
 4222: 'store',
 4743: 'website',
 2263: 'iamrajxxx',
 1187: 'drewgurza',
 141: 'amazonpays',
 3940: 'sees',
 4676: 'vodafone',
 604: 'cairn',
 1284: 'energy',
 377: 'battles',
 3184: 'operations',
 2978: 'model',
 739: 'cii',
 2531: 'join',
 3035: 'msme',
 585: 'business',
 459: 'bloombergquint',
 3992: 'share',
 2069: 'httpstcopwzdsmcqda',
 4566: 'ubon',
 4698: 'wall',
 693: 'charger',
 3436: 'port',
 4521: 'travel',
 2920: 'micro',
 600: 'cable',
 1408: 'fast',
 2173: 'httpstcowdliesfpak',
 3003: 'months',
 1684: 'ha',
 3720: 'reseller',
 2717: 'listing',
 1909: 'httpstcognjczbshnm',
 1445: 'financialtimes',
 1435: 'ficciindia',
 1434: 'ficciannualexpo',
 1680: 'guys',
 2703: 'lights',
 2195: 'httpstcoxhyppindgo',
 3664: 'reexamination',
 3683: 'relationship',
 719: 'china',
 2623: 'kristianrien',
 4417: 'theosworld',
 2462: 'iuxcha',
 1847: 'httpstcocchdyynyka',
 2054: 'httpstcooraqvmjrdx',
 1866: 'httpstcodolrolvvjt',
 4351: 'tata',
 1162: 'doesn',
 4108: 'sony',
 306: 'audio',
 1430: 'fest',
 1049: 'december',
 1729: 'headphonesup',
 3920: 'seagate',
 1768: 'hii',
 3572: 'queries',
 1722: 'hd',
 1138: 'disk',
 1519: 'fro',
 1286: 'engineer',
 1095: 'desktop',
 1455: 'firewall',
 4689: 'vpn',
 769: 'cloud',
 744: 'cisco',
 1998: 'httpstcoljgnypqkod',
 3271: 'party',
 567: 'buddy',
 2977: 'mode',
 4446: 'thunder',
 463: 'bluetooth',
 4128: 'speakers',
 956: 'cr',
 4758: 'whatsapp',
 1960: 'httpstcojdiwzpvqdd',
 2628: 'kuvings',
 3479: 'press',
 2542: 'juicermrp',
 506: 'boschglobal',
 3558: 'purchase',
 2271: 'id',
 3126: 'noise',
 1107: 'dhira',
 2098: 'httpstcorrbuouldlz',
 207: 'answers',
 104: 'ama',
 1625: 'goonlineindia',
 4086: 'smartphone',
 612: 'camera',
 1561: 'gb',
 3607: 'ram',
 4221: 'storage',
 1826: 'httpstcoamngzngrss',
 771: 'cloudtail',
 3949: 'sellers',
 3753: 'revenue',
 1659: 'grow',
 1282: 'ende',
 1961: 'httpstcojdkxehrcah',
 153: 'amazonspinandwin',
 887: 'contest',
 2275: 'ideas',
 2825: 'marathi',
 1632: 'gpdeshpandeto',
 1231: 'ebook',
 4667: 'visit',
 842: 'competitor',
 3913: 'screenshots',
 62: 'agency',
 1393: 'family',
 1517: 'friends',
 1283: 'enemies',
 2756: 'lovers',
 3166: 'office',
 3800: 'romance',
 2736: 'logistics',
 4746: 'week',
 2150: 'httpstcouroqelebeu',
 3907: 'scoopit',
 2417: 'inv',
 3412: 'pls',
 280: 'ask',
 2450: 'issue',
 3669: 'refund',
 3513: 'produ',
 993: 'cup',
 1482: 'football',
 4065: 'size',
 3180: 'online',
 924: 'cost',
 4012: 'shipping',
 4155: 'sports',
 2166: 'httpstcovtbybzonlf',
 3156: 'observation',
 452: 'blocks',
 1471: 'flow',
 2636: 'labor',
 1483: 'footballs',
 394: 'belco',
 3621: 'rates',
 4010: 'ship',
 2547: 'justice',
 3603: 'rajindar',
 3841: 'sachars',
 1373: 'fabric',
 314: 'autobio',
 3253: 'pantry',
 3144: 'nri',
 1587: 'girl',
 3357: 'physics',
 2594: 'kindle',
 1412: 'fawadchaudhry',
 2301: 'imrankhanpti',
 1022: 'darazpk',
 4145: 'spinandwin',
 4839: 'yes',
 299: 'attempt',
 1269: 'email',
 3029: 'mr',
 1556: 'gates',
 4481: 'tooamazon',
 4822: 'xixi',
 1370: 'eyes',
 2425: 'investment',
 3343: 'pharmacy',
 2833: 'marketstrategy',
 2427: 'investmentstrategy',
 1828: 'httpstcoarbrqmdukp',
 4070: 'skills',
 3509: 'process',
 316: 'automation',
 4596: 'uptake',
 4189: 'startups',
 2232: 'httpstcozrwtrqspzp',
 2000: 'httpstcolltbpivkbb',
 303: 'attiyt',
 406: 'bestsellers',
 4611: 'value',
 583: 'busine',
 1956: 'httpstcoixzurxultb',
 1456: 'firms',
 3151: 'nykaa',
 2972: 'mobikwik',
 3916: 'scrum',
 3526: 'projectmanagement',
 1383: 'facts',
 1510: 'freedom',
 2182: 'httpstcowmswwdcrqyhardbac',
 1367: 'extracts',
 490: 'booksardar',
 3281: 'patel',
 3414: 'pm',
 1685: 'hadpaperback',
 1842: 'httpstcobpkkeiltoj',
 2560: 'katiecollins',
 2735: 'login',
 4211: 'stock',
 2832: 'markets',
 3200: 'orange',
 206: 'answer',
 350: 'balance',
 4338: 'tampc',
 4343: 'tape',
 479: 'bond',
 4238: 'street',
 1335: 'eu',
 2842: 'masala',
 2634: 'lab',
 3256: 'paperback',
 2112: 'httpstcosizmugegft',
 2782: 'madanregmi',
 593: 'buying',
 1453: 'fintech',
 4869: 'zoom',
 1849: 'httpstcocdoiwgessy',
 2403: 'intel',
 2048: 'httpstcoogenvrrlyt',
 4459: 'times',
 1862: 'httpstcodhwvmjchox',
 2304: 'incentives',
 181: 'amzn',
 3392: 'platform',
 1351: 'expendit',
 2009: 'httpstcomanvksfhsf',
 4786: 'women',
 3647: 'reasonget',
 2843: 'masculinity',
 55: 'affiliate',
 1126: 'dirty',
 1740: 'heavens',
 385: 'beauty',
 1773: 'hindi',
 2096: 'httpstcorqpyifnkei',
 401: 'benettonindia',
 4080: 'slliper',
 3369: 'pieces',
 2837: 'marsh',
 3963: 'seriessome',
 49: 'adventures',
 1395: 'familyseries',
 492: 'bookseries',
 330: 'ayurveda',
 4359: 'teaches',
 2389: 'innatenature',
 363: 'baradwajrangan',
 4549: 'tv',
 3468: 'pre',
 669: 'chai',
 4358: 'tea',
 3529: 'promo',
 790: 'code',
 3104: 'newscomworld',
 987: 'csis',
 4347: 'tarekfatah',
 2369: 'indopacinfo',
 1606: 'gmsyedstudies',
 3646: 'reason',
 1098: 'dev',
 4119: 'sounds',
 4041: 'silence',
 3653: 'recommend',
 1646: 'gregoryabutler',
 1227: 'east',
 1295: 'entirel',
 76: 'air',
 375: 'battle',
 1439: 'fighter',
 3372: 'pilot',
 3384: 'plane',
 502: 'border',
 4055: 'sirjohnthomas',
 3951: 'senate',
 2934: 'mike',
 2680: 'lees',
 4664: 'visas',
 814: 'comcast',
 699: 'chat',
 64: 'agents',
 4745: 'weed',
 1897: 'httpstcogakytdwbtw',
 4609: 'valentine',
 4001: 'shell',
 3693: 'remembersomeone',
 4242: 'studen',
 2073: 'httpstcoqijdtzdnsw',
 4535: 'triviamonobyul',
 2908: 'merch',
 2712: 'lip',
 1602: 'gloss',
 2708: 'liner',
 2800: 'makeup',
 4016: 'shop',
 728: 'choose',
 1748: 'help',
 3640: 'realdonaldtrump',
 3898: 'scammers',
 3480: 'pretend',
 2440: 'irs',
 491: 'booksdeal',
 1000: 'cut',
 3456: 'practice',
 2823: 'maps',
 3679: 'regurgitation',
 1511: 'freemarket',
 626: 'capitalism',
 4344: 'tapestry',
 3585: 'racism',
 413: 'bhakts',
 586: 'businesses',
 582: 'bus',
 2213: 'httpstcoyezszoodhd',
 4489: 'topicin',
 400: 'benefits',
 3036: 'msmes',
 4193: 'states',
 2353: 'indiaretailingより',
 1490: 'forei',
 4547: 'turn',
 1153: 'diy',
 2852: 'masterpiece',
 4687: 'vouchers',
 2691: 'letswatcho',
 3422: 'point',
 4204: 'stephen',
 3336: 'peter',
 3833: 'sa',
 1040: 'dear',
 2503: 'jeff',
 4835: 'years',
 4853: 'youtube',
 3831: 'russia',
 542: 'britain',
 3533: 'prosaicview',
 148: 'amazonreliance',
 644: 'case',
 3566: 'qc',
 904: 'cookbooks',
 1838: 'httpstcobhtahgbogp',
 715: 'chhattisgarhcmo',
 308: 'aur',
 668: 'cg',
 774: 'cmo',
 1308: 'episode',
 2566: 'ke',
 2312: 'ind',
 129: 'amazonindiain',
 998: 'customers',
 634: 'cards',
 3657: 'rede',
 3868: 'sandipsabharwal',
 841: 'competition',
 1400: 'farmer',
 1311: 'equities',
 288: 'asset',
 754: 'class',
 1046: 'decadeinflation',
 289: 'assetallocation',
 4142: 'spies',
 4749: 'wellesley',
 25: 'action',
 616: 'campg',
 606: 'cake',
 4464: 'tips',
 3142: 'nozzles',
 2484: 'jamieslan',
 2393: 'ins',
 3287: 'paulg',
 1179: 'dozen',
 1278: 'employees',
 3575: 'question',
 3516: 'production',
 1425: 'feel',
 2145: 'httpstcoujsouplqhk',
 2702: 'light',
 962: 'cream',
 2160: 'httpstcovjplkyyflz',
 3998: 'shehlarashid',
 4281: 'super',
 2408: 'interesting',
 2831: 'marketplaces',
 1571: 'geographies',
 991: 'cultur',
 4619: 'vaseline',
 785: 'cocoa',
 1603: 'glow',
 474: 'body',
 2751: 'lotion',
 2962: 'mlgreat',
 21: 'acerindia',
 3832: 'ryzen',
 20: 'acer',
 3379: 'pla',
 1927: 'httpstcohcrybvhanr',
 4196: 'stay',
 3692: 'rem',
 4529: 'trimmer',
 2903: 'men',
 1643: 'grateful',
 3216: 'outside',
 1496: 'forumconsumer',
 3947: 'sell',
 4578: 'unila',
 3790: 'robbersamazon',
 833: 'companydo',
 4268: 'sumanthr',
 1248: 'edtech',
 1111: 'didnt',
 3136: 'notice',
 3791: 'robbersdo',
 2156: 'httpstcoveqdzbtvwq',
 818: 'comingofage',
 261: 'arrangedmarriage',
 2313: 'independence',
 4332: 'tale',
 57: 'africa',
 2388: 'initiative',
 2942: 'minds',
 4301: 'surprise',
 2218: 'httpstcoylcwruzwoa',
 878: 'consumer',
 1264: 'electronics',
 4735: 'wearables',
 1654: 'gro',
 3451: 'ppl',
 2387: 'inheritors',
 3086: 'nations',
 2793: 'maitreysharmav',
 357: 'bangadvedant',
 3172: 'oh',
 4841: 'yesterday',
 3198: 'option',
 4621: 'vedant',
 2237: 'hu',
 4840: 'yesssspramatheus',
 729: 'chord',
 305: 'audiences',
 4425: 'theyre',
 3779: 'rise',
 1406: 'fascist',
 4633: 'vengeance',
 1527: 'funds',
 3774: 'ridiculo',
 1705: 'hardikpatel',
 880: 'consummate',
 1303: 'environments',
 1735: 'hearts',
 3011: 'mothers',
 4709: 'war',
 4589: 'unrest',
 274: 'ashwanimahajan',
 1059: 'deepaksharmasjm',
 4252: 'su',
 1507: 'fraud',
 2234: 'httpstcozxvwbmhkag',
 1529: 'furniture',
 651: 'categories',
 387: 'beds',
 2860: 'mattresses',
 674: 'chairs',
 3377: 'piyushgoyal',
 2509: 'ji',
 1097: 'details',
 3169: 'officer',
 846: 'complaints',
 1727: 'headlines',
 4774: 'window',
 3101: 'newdelhicovidamazon',
 4276: 'sundayparticipate',
 964: 'createyourway',
 1299: 'entrie',
 4768: 'wideapple',
 2432: 'iphone',
 4706: 'walmartunionstrong',
 176: 'amitmalviya',
 4612: 'vanathibjp',
 3033: 'mrsgandhi',
 461: 'blsanthosh',
 1120: 'dilipghoshbjp',
 4190: 'starwdz',
 28: 'acts',
 1508: 'fraudsters',
 149: 'amazons',
 3812: 'royalenfield',
 211: 'anticorrosion',
 ...}

### This LDA model only consist on Noun

In [16]:
# Let's start with 2 topics
ldan = models.LdaModel(corpus=corpusn, num_topics=2, id2word=id2wordn, passes=100)
ldan.print_topics()

[(0,
  '0.044*"price" + 0.042*"deal" + 0.040*"discount" + 0.008*"day" + 0.007*"business" + 0.006*"link" + 0.006*"books" + 0.005*"pmoindia" + 0.005*"world" + 0.004*"face"'),
 (1,
  '0.023*"phones" + 0.019*"amp" + 0.013*"buy" + 0.013*"mobiles" + 0.012*"prices" + 0.011*"cell" + 0.010*"party" + 0.010*"pharmacy" + 0.008*"investment" + 0.007*"amazonhelp"')]

* In Topic modelling there is lots of trail require to find the topic.
* Here we can see the mix of topic, which is difficult to relate.

In [17]:
# Let's try topics = 3
ldan = models.LdaModel(corpus=corpusn, num_topics=3, id2word=id2wordn, passes=100)
ldan.print_topics()

[(0,
  '0.029*"amp" + 0.014*"pharmacy" + 0.012*"investment" + 0.010*"day" + 0.010*"business" + 0.007*"life" + 0.007*"eyes" + 0.006*"world" + 0.006*"china" + 0.005*"december"'),
 (1,
  '0.068*"price" + 0.065*"deal" + 0.063*"discount" + 0.039*"phones" + 0.022*"buy" + 0.022*"mobiles" + 0.020*"prices" + 0.020*"cell" + 0.011*"books" + 0.006*"online"'),
 (2,
  '0.016*"party" + 0.009*"feature" + 0.007*"services" + 0.007*"pay" + 0.007*"customer" + 0.007*"amazonhelp" + 0.006*"order" + 0.006*"internet" + 0.006*"fighter" + 0.005*"product"')]

* 1st Topic customer are talking about investment, business in pharma
* 2nd Topic is about product and discount on them
* 3rd Topic is related to after sales service

In [18]:
# Let's try 5 topics
ldan = models.LdaModel(corpus=corpusn, num_topics=5, id2word=id2wordn, passes=200)
ldan.print_topics()

[(0,
  '0.025*"pharmacy" + 0.017*"investment" + 0.014*"books" + 0.012*"pmoindia" + 0.012*"eyes" + 0.010*"online" + 0.009*"fighter" + 0.008*"service" + 0.008*"drrpnishank" + 0.007*"pibindia"'),
 (1,
  '0.060*"phones" + 0.034*"buy" + 0.033*"mobiles" + 0.031*"prices" + 0.030*"cell" + 0.011*"amazonhelp" + 0.010*"pay" + 0.008*"pureminority" + 0.007*"sameekshaindia" + 0.007*"customer"'),
 (2,
  '0.091*"price" + 0.086*"deal" + 0.083*"discount" + 0.043*"amp" + 0.010*"day" + 0.010*"business" + 0.007*"december" + 0.007*"sale" + 0.006*"edition" + 0.006*"face"'),
 (3,
  '0.026*"party" + 0.012*"feature" + 0.010*"china" + 0.007*"internet" + 0.007*"business" + 0.006*"series" + 0.006*"challenge" + 0.005*"customers" + 0.005*"seller" + 0.004*"need"'),
 (4,
  '0.019*"link" + 0.015*"services" + 0.014*"world" + 0.010*"company" + 0.008*"life" + 0.007*"mask" + 0.007*"web" + 0.006*"investment" + 0.006*"startups" + 0.005*"uptake"')]

In [19]:
# Let's try 6 topics
ldan = models.LdaModel(corpus=corpusn, num_topics=6, id2word=id2wordn, passes=200)
ldan.print_topics()

[(0,
  '0.044*"amp" + 0.016*"books" + 0.015*"services" + 0.015*"life" + 0.013*"pay" + 0.010*"world" + 0.010*"pureminority" + 0.009*"mask" + 0.009*"sameekshaindia" + 0.009*"quiz"'),
 (1,
  '0.080*"phones" + 0.045*"buy" + 0.044*"mobiles" + 0.041*"prices" + 0.040*"cell" + 0.008*"gen" + 0.008*"pil" + 0.006*"men" + 0.005*"stories" + 0.005*"bravehearts"'),
 (2,
  '0.031*"party" + 0.030*"pharmacy" + 0.025*"investment" + 0.016*"feature" + 0.015*"amp" + 0.014*"eyes" + 0.008*"chain" + 0.006*"reliance" + 0.005*"users" + 0.004*"home"'),
 (3,
  '0.109*"price" + 0.104*"deal" + 0.100*"discount" + 0.010*"fighter" + 0.008*"link" + 0.007*"china" + 0.006*"battle" + 0.006*"challenge" + 0.006*"air" + 0.006*"support"'),
 (4,
  '0.015*"amazonhelp" + 0.011*"internet" + 0.011*"customer" + 0.010*"day" + 0.008*"series" + 0.007*"order" + 0.006*"service" + 0.006*"brands" + 0.006*"idea" + 0.006*"days"'),
 (5,
  '0.019*"business" + 0.016*"pmoindia" + 0.015*"products" + 0.012*"day" + 0.012*"december" + 0.010*"drrpnishank" + 0.010*"pibindia" + 0.008*"launches" + 0.007*"sale" + 0.007*"times"')]

* 1st Topic - service
* 2nd Topic - mobile phone
* 3rd Topic - investment
* 4th Topic - china
* 5th Topic - customer service
* 6th Topic - Incident happen during december
* But still there is lots fix in topic

### Topic Modeling - Attempt #2 with (Nouns and Adjectives)

In [20]:
# Let's create a function to pull out nouns from a string of text
def nouns_adj(text):
    '''Given a string of text, tokenize the text and pull out only the nouns and adjectives.'''
    is_noun_adj = lambda pos: pos[:2] == 'NN' or pos[:2] == 'JJ'
    tokenized = word_tokenize(text)
    nouns_adj = [word for (word, pos) in pos_tag(tokenized) if is_noun_adj(pos)] 
    return ' '.join(nouns_adj)

In [21]:
# Apply the nouns function to the transcripts to filter only on nouns
data_nouns_adj = pd.DataFrame(data_clean.text.apply(nouns_adj))
data_nouns_adj

                                                   text
0     indiaprogress kinda wrong world amazon web ser...
1            jeffbezos im india sir money i mobil phone
2     goals year book sweet aroma success prime http...
3     ola worlds largest escooter factory tamil nadu...
4     amazonin chinese mobile india amazonpmoindia h...
...                                                 ...
3095  amazon echo gen dot gen dot gen clock price in...
3096                                deal price discount
3097                                deal price discount
3098           amazon prime videos party india informer
3099     hi primevideoin bosch sixth season april delay

[3100 rows x 1 columns]

In [22]:
# Create a new document-term matrix using only nouns and adjectives, also remove common words with max_df
cvna = CountVectorizer(stop_words=stop_words, max_df=.8)
data_cvna = cvna.fit_transform(data_nouns_adj.text)
data_dtmna = pd.DataFrame(data_cvna.toarray(), columns=cvna.get_feature_names())
data_dtmna.index = data_nouns_adj.index
data_dtmna

,aajtak,aakash,aamazon,aapl,aatmanirbhar,abhigyan,abhinandanks,ability,abilitythis,able,...,𝒔𝒕𝒓𝒂𝒊𝒏𝒆𝒓,𝒕𝒉𝒂𝒕,𝒕𝒉𝒊𝒔,𝒕𝒐,𝒖𝒔httpstcomucverpscfchefdirect,𝒗𝒆𝒈𝒆𝒕𝒂𝒃𝒍𝒆𝒔httpstcomucverpscf,𝒘𝒂𝒔𝒉,𝒘𝒉𝒆𝒏,𝒘𝒐𝒏𝒕,𝒚𝒐𝒖
0,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
1,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
2,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
3,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
4,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
3095,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
3096,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
3097,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
3098,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
3099,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0

In [23]:
# Create the gensim corpus
corpusna = matutils.Sparse2Corpus(scipy.sparse.csr_matrix(data_dtmna.transpose()))

# Create the vocabulary dictionary
id2wordna = dict((v, k) for k, v in cvna.vocabulary_.items())

In [24]:
# Let's try 3 topics
ldana = models.LdaModel(corpus=corpusna, num_topics=3, id2word=id2wordna, passes=100)
ldana.print_topics()

[(0,
  '0.011*"available" + 0.006*"pmoindia" + 0.006*"services" + 0.006*"amazonhelp" + 0.006*"free" + 0.005*"books" + 0.005*"quiz" + 0.005*"pay" + 0.005*"fighter" + 0.004*"drrpnishank"'),
 (1,
  '0.051*"price" + 0.049*"deal" + 0.047*"discount" + 0.029*"phones" + 0.023*"best" + 0.022*"new" + 0.016*"buy" + 0.016*"mobiles" + 0.015*"prices" + 0.015*"cell"'),
 (2,
  '0.032*"viewed" + 0.026*"amp" + 0.012*"party" + 0.011*"pharmacy" + 0.010*"investment" + 0.008*"potential" + 0.008*"business" + 0.007*"apollo" + 0.006*"feature" + 0.006*"eyes"')]

In [25]:
# Let's try 5 topics
ldana = models.LdaModel(corpus=corpusna, num_topics=5, id2word=id2wordna, passes=200)
ldana.print_topics()

[(0,
  '0.015*"available" + 0.009*"services" + 0.009*"life" + 0.008*"world" + 0.008*"mask" + 0.008*"products" + 0.008*"order" + 0.008*"quiz" + 0.007*"link" + 0.007*"business"'),
 (1,
  '0.009*"pmoindia" + 0.007*"drrpnishank" + 0.007*"party" + 0.006*"pibindia" + 0.006*"internet" + 0.005*"online" + 0.005*"amp" + 0.004*"uninterrupted" + 0.004*"books" + 0.004*"customers"'),
 (2,
  '0.009*"books" + 0.008*"pureminority" + 0.007*"sameekshaindia" + 0.006*"romance" + 0.006*"author" + 0.005*"follow" + 0.005*"online" + 0.005*"anthology" + 0.005*"romancenovels" + 0.005*"ty"'),
 (3,
  '0.052*"viewed" + 0.038*"amp" + 0.019*"pharmacy" + 0.016*"investment" + 0.014*"potential" + 0.013*"party" + 0.012*"apollo" + 0.010*"feature" + 0.009*"eyes" + 0.007*"fighter"'),
 (4,
  '0.073*"price" + 0.070*"deal" + 0.067*"discount" + 0.042*"phones" + 0.034*"new" + 0.030*"best" + 0.024*"buy" + 0.023*"mobiles" + 0.022*"prices" + 0.021*"cell"')]

In [26]:
# Let's try 6 topics
ldana = models.LdaModel(corpus=corpusna, num_topics=6, id2word=id2wordna, passes=200)
ldana.print_topics()

[(0,
  '0.055*"phones" + 0.039*"best" + 0.035*"new" + 0.031*"buy" + 0.030*"mobiles" + 0.029*"prices" + 0.027*"cell" + 0.022*"mobile" + 0.006*"series" + 0.006*"online"'),
 (1,
  '0.013*"pharmacy" + 0.011*"available" + 0.011*"pay" + 0.010*"amazonhelp" + 0.009*"quiz" + 0.008*"investment" + 0.008*"largest" + 0.006*"chain" + 0.006*"order" + 0.006*"loss"'),
 (2,
  '0.011*"pmoindia" + 0.009*"books" + 0.009*"drrpnishank" + 0.008*"pureminority" + 0.007*"sameekshaindia" + 0.007*"romance" + 0.006*"china" + 0.006*"available" + 0.006*"author" + 0.006*"pibindia"'),
 (3,
  '0.079*"price" + 0.076*"deal" + 0.073*"discount" + 0.055*"viewed" + 0.034*"amp" + 0.020*"party" + 0.010*"investment" + 0.010*"feature" + 0.010*"potential" + 0.010*"eyes"'),
 (4,
  '0.012*"world" + 0.010*"life" + 0.009*"mask" + 0.008*"company" + 0.005*"apple" + 0.005*"mibindia" + 0.005*"good" + 0.005*"brands" + 0.005*"growth" + 0.005*"card"'),
 (5,
  '0.019*"business" + 0.013*"services" + 0.012*"small" + 0.010*"day" + 0.009*"internet" + 0.009*"sale" + 0.008*"uninterrupted" + 0.007*"december" + 0.006*"web" + 0.005*"strong"')]

### These six topics look pretty decent. Let's settle on these for now.

* Topic 0: Mobile phones which is highest selling
* Topic 1: Amazon service and Investment
* Topic 2: Books and Goverment
* Topic 3: Discount
* Topic 4: Brands Amazon India
* Topic 5: Business and internet services

### These are the Topic customers discuss on social mdeia. Which can give brief understanding of customers and what they like and dislike towards Amazon India product and services. There are near to no negative topic discussion can be seen. This is quit good.

## Flipkart

In [41]:
# read the data in
df1 = pd.read_csv(r"C:\Users\ASUS\abhi\Twitter sentiment analysis\flipkart.csv")

In [42]:
# Let's take a look at the updated text
data_clean1 = pd.DataFrame(df1.text.apply(round1))
data_clean1

                                                   text
0     flipkartsupport just parroted replies with no ...
1     httpstcokzaulfnmyg\n\nmulticolor men amp women...
2     home and bazaar solid wood home temple upto  o...
3                        flipkart this is thief company
4     indiapoco flipkart poor optimization is softwa...
...                                                 ...
3095  flipkartsupport are you trying to say that i s...
3096  it’s a good habit to post honest review of any...
3097       top brands beauty minimum  off  flipkart\n\n
3098  neerajdark to ensure that your flipkart accoun...
3099  there is critical bug in flipkart offer i alre...

[3100 rows x 1 columns]

In [43]:
# Let's take a look at the updated text
data_clean1 = pd.DataFrame(data_clean1.text.apply(round2))
data_clean1

                                                   text
0     flipkartsupport just parroted replies with no ...
1     httpstcokzaulfnmygmulticolor men amp women sli...
2     home and bazaar solid wood home temple upto  o...
3                        flipkart this is thief company
4     indiapoco flipkart poor optimization is softwa...
...                                                 ...
3095  flipkartsupport are you trying to say that i s...
3096  its a good habit to post honest review of any ...
3097           top brands beauty minimum  off  flipkart
3098  neerajdark to ensure that your flipkart accoun...
3099  there is critical bug in flipkart offer i alre...

[3100 rows x 1 columns]

In [44]:
# Apply the nouns function to the transcripts to filter only on nouns
data_nouns1 = pd.DataFrame(data_clean1.text.apply(nouns))
data_nouns1

                                                   text
0               flipkartsupport replies substance thats
1     httpstcokzaulfnmygmulticolor men women bagmult...
2                 home bazaar wood home temple flipkart
3                                      flipkart company
4     flipkart optimization software launcherpoco im...
...                                                 ...
3095           flipkartsupport i machine service centre
3096                 habit review product way consumers
3097                                    brands flipkart
3098  neerajdark account information please share de...
3099                          bug flipkart offer i note

[3100 rows x 1 columns]

In [46]:
# Recreate a document-term matrix with only nouns
cvn1 = CountVectorizer(stop_words=stop_words)
data_cvn1 = cvn1.fit_transform(data_nouns1.text)
data_dtmn1 = pd.DataFrame(data_cvn1.toarray(), columns=cvn1.get_feature_names())
data_dtmn1.index = data_nouns1.index
data_dtmn1

,aa,aajtak,aalam,aasimkhan,aatmanirbharbharat,abdomen,abdshah,abhigreeshma,abhishek,abhishekghande,...,ᴾᵒʷᵉʳ,𝐀𝐧𝐬,𝕘⁹,𝕞𝕠𝕥𝕠,𝗕𝘂𝘀𝗶𝗻𝗲𝘀𝘀𝗶𝗻𝗮𝗕𝗼𝘅,𝘽𝙮,𝙇𝙞𝙫𝙚𝙨,𝙎𝙚𝙡𝙡𝙞𝙣𝙜,𝙎𝙤𝙢𝙚𝙩,𝙎𝙤𝙢𝙚𝙩𝙝𝙞𝙣𝙜click
0,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
1,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
2,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
3,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
4,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
3095,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
3096,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
3097,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
3098,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
3099,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0

In [47]:
# Create the gensim corpus
corpusn1 = matutils.Sparse2Corpus(scipy.sparse.csr_matrix(data_dtmn1.transpose()))

#corpora.dictionary.Dictionary
# Create the vocabulary dictionary
id2wordn1 = dict((v, k) for k, v in cvn1.vocabulary_.items())

In [48]:
# Let's start with 2 topics
ldan1 = models.LdaModel(corpus=corpusn1, num_topics=5, id2word=id2wordn1, passes=200)
ldan1.print_topics()

[(0,
  '0.069*"flipkartstories" + 0.023*"request" + 0.021*"sorry" + 0.020*"walmart" + 0.020*"deals" + 0.020*"app" + 0.018*"triviatuesdays" + 0.015*"foundation" + 0.015*"concern" + 0.015*"link"'),
 (1,
  '0.021*"day" + 0.020*"flipkartsupport" + 0.014*"sale" + 0.013*"flipkartsellers" + 0.013*"fraud" + 0.012*"hey" + 0.010*"money" + 0.009*"order" + 0.008*"days" + 0.008*"sachinbansal"'),
 (2,
  '0.021*"deal" + 0.018*"delivery" + 0.014*"women" + 0.012*"service" + 0.012*"flipkartshop" + 0.012*"men" + 0.011*"experience" + 0.010*"girls" + 0.008*"belt" + 0.007*"flipkartsupport"'),
 (3,
  '0.059*"account" + 0.049*"flipkartsupport" + 0.039*"information" + 0.035*"product" + 0.032*"order" + 0.015*"details" + 0.014*"service" + 0.014*"message" + 0.012*"days" + 0.012*"id"'),
 (4,
  '0.020*"air" + 0.015*"flipkartsupport" + 0.014*"conditioners" + 0.011*"answers" + 0.009*"play" + 0.009*"party" + 0.007*"pack" + 0.007*"sports" + 0.006*"jagograhakjago" + 0.006*"credit"')]

* 1st Topic - Brand and concern
* 2nd Topic - flipkart serivce and fraud
* 3rd Topic - Brand experience
* 4th Topic - complaint
* 5th Topic - product and games offer on flipkart
* But still there is lots fix in topic

### Topic Modeling - Attempt #2 (Nouns and Adjectives)

In [49]:
# Apply the nouns function to the transcripts to filter only on nouns
data_nouns_adj1 = pd.DataFrame(data_clean1.text.apply(nouns_adj))
data_nouns_adj1

                                                   text
0               flipkartsupport replies substance thats
1     httpstcokzaulfnmygmulticolor men women bagmult...
2           home bazaar solid wood home temple flipkart
3                                flipkart thief company
4     indiapoco flipkart poor optimization software ...
...                                                 ...
3095           flipkartsupport i machine service centre
3096  good habit honest review product best way cons...
3097                 top brands beauty minimum flipkart
3098  neerajdark flipkart account information safe p...
3099         critical bug flipkart offer i serious note

[3100 rows x 1 columns]

In [50]:
# Create a new document-term matrix using only nouns and adjectives, also remove common words with max_df
cvna1 = CountVectorizer(stop_words=stop_words, max_df=.8)
data_cvna1 = cvna1.fit_transform(data_nouns_adj1.text)
data_dtmna1 = pd.DataFrame(data_cvna1.toarray(), columns=cvna1.get_feature_names())
data_dtmna1.index = data_nouns_adj1.index
data_dtmna1

,aa,aajtak,aalam,aamchi,aasimkhan,aatmanirbharbharat,abdomen,abdshah,abhigreeshma,abhishek,...,𝐀𝐧𝐬,𝕘⁹,𝕞𝕠𝕥𝕠,𝗕𝘂𝘀𝗶𝗻𝗲𝘀𝘀𝗶𝗻𝗮𝗕𝗼𝘅,𝘽𝙮,𝙀𝙫𝙚𝙧𝙮𝙗𝙤𝙙𝙮,𝙇𝙞𝙫𝙚𝙨,𝙎𝙚𝙡𝙡𝙞𝙣𝙜,𝙎𝙤𝙢𝙚𝙩,𝙎𝙤𝙢𝙚𝙩𝙝𝙞𝙣𝙜click
0,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
1,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
2,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
3,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
4,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
3095,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
3096,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
3097,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
3098,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
3099,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0

In [51]:
# Create the gensim corpus
corpusna1 = matutils.Sparse2Corpus(scipy.sparse.csr_matrix(data_dtmna1.transpose()))

# Create the vocabulary dictionary
id2wordna1 = dict((v, k) for k, v in cvna1.vocabulary_.items())

In [52]:
# Let's try 3 topics
ldana1 = models.LdaModel(corpus=corpusna1, num_topics=5, id2word=id2wordna1, passes=200)
ldana1.print_topics()

[(0,
  '0.015*"sorry" + 0.013*"flipkartsupport" + 0.010*"casual" + 0.010*"concern" + 0.010*"micromaxindia" + 0.010*"men" + 0.009*"women" + 0.009*"team" + 0.008*"answers" + 0.008*"sale"'),
 (1,
  '0.021*"days" + 0.021*"fake" + 0.011*"mi" + 0.010*"big" + 0.010*"tv" + 0.008*"xiaomiindia" + 0.008*"product" + 0.008*"services" + 0.007*"answers" + 0.007*"saving"'),
 (2,
  '0.049*"flipkartsupport" + 0.036*"order" + 0.025*"product" + 0.018*"service" + 0.014*"delivery" + 0.012*"refund" + 0.011*"app" + 0.011*"mobile" + 0.011*"deals" + 0.011*"customer"'),
 (3,
  '0.052*"flipkartstories" + 0.034*"flipkartsupport" + 0.020*"walmart" + 0.014*"air" + 0.014*"triviatuesdays" + 0.013*"nokia" + 0.011*"foundation" + 0.010*"conditioners" + 0.008*"hey" + 0.007*"kalyank"'),
 (4,
  '0.067*"account" + 0.044*"information" + 0.044*"safe" + 0.019*"private" + 0.017*"details" + 0.016*"message" + 0.013*"share" + 0.010*"request" + 0.010*"sure" + 0.009*"link"')]

### These five topics look pretty decent. Let's settle on these for now.

* Topic 0: flipkart service and micromax
* Topic 1: mi, tv, xiaomi
* Topic 2: Sales service and after sales service
* Topic 3: flipkart and nokia
* Topic 4: account privacy

### These are the Topic customers discuss on social mdeia. Which can give brief understanding of customers and what they like and dislike towards Flipkart product and services. There are negative topic seen in discussion. Which is quit worrying.